:root {
    --purple: hsl(259, 100%, 65%);
    --light-red: hsl(0, 100%, 67%);
    --white: hsl(0, 0%, 100%);
    --off-white: hsl(0, 0%, 94%);
    --light-grey: hsl(0, 0%, 86%);
    --smokey-grey: hsl(0, 1%, 44%);
    --off-black: hsl(0, 0%, 8%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--off-white);
    font-family: Poppins, "sans serif";
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
}

.flex-container {
    display: flex;
}

form {
    background-color: var(--white);
    margin: 20% 5vw 5vw 5vw;
    padding: 1.5rem;
    border-radius: 1rem 1rem 6rem 1rem;
    flex-direction: column;

}

.dateInputsContainer {
    gap: 1rem;
    /*Change relative padding to absolute over 480px*/
    padding-bottom: 56px;
    border-bottom: 1px solid var(--light-grey);
    position: relative;
    justify-content: center;
}

.dateIndContainer {
    width: 33.3%;
    white-space: nowrap;
}

label {
    color: var(--smokey-grey);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 11px;
    font-weight: 700;
}

input {
    width: 100%;
    height: 2.7rem;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid var(--light-grey);
    padding: 1rem 0.5rem;
    border-radius: 0.25rem;
}

.errorMessage {
    font-size: 8.7px;
    margin-top: 4px;
    font-style: italic;
    color: var(--light-red);
    visibility: hidden;
    
}

span {
    color: var(--purple);
}

button {
    background-color: var(--purple);
    border: none;
    border-radius: 50%;
    padding: 2rem;
    position: absolute;
    top: 85px;
    scale: 0.5;
}

.dateOutputContainer {
    font-size: 45px;
    font-weight: 800;
    font-style: italic;
    margin-top: 4rem;
}